Repository kr4chinin/react-configurations: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

chore: test pre-commit hooks
  .eslintignore
  .lintstagedrc.json
  package.json
Due: none

chore: test pre-commit hooks, p2
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/shared/ui/Input/Input.tsx
Due: npm run lint:ts:fix, npm run format:ts

fix: make I18nDecorator for stories + fix storybook webpack config to understand __IS_DEV__ global variable
  config/storybook/main.js
  config/storybook/preview.js
  config/storybook/webpack.config.ts
  src/shared/config/storybook/I18nDecorator/I18nDecorator.tsx
Due: npm run lint:ts:fix, npm run format:ts

chore: add locale switcher to storybook
  config/storybook/preview.js
  src/shared/config/storybook/I18nDecorator/I18nDecorator.tsx
Due: npm run lint:ts:fix, npm run format:ts

chore: temp remove ui tests from the workflow
  .github/workflows/main.yml
Due: none

fix: temp remove storybook-and-screenshot-testing
  .github/workflows/main.yml
Due: none

style: change color scheme and some global vars
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/variables/global.scss
Due: npm run lint:scss:fix

style: refactor Sidebar styles, add new icons
  src/shared/assets/icons/Sidebar/sidebar_close.svg
  src/shared/assets/icons/Sidebar/sidebar_open.svg
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

style: refactor Navbar styles
  src/widgets/Navbar/ui/Navbar.module.scss
  src/widgets/Navbar/ui/Navbar.tsx
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

style: refactor AppLink and Button styles
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.tsx
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

style: refactor AppLink and Button styles, v2
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/Button/Button.module.scss
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

style: refactor Input styles
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/Input.tsx
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

style: refactor component styles and layout
  src/shared/ui/AppLink/AppLink.stories.tsx
  src/shared/ui/Loader/Loader.module.scss
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/index.tsx
  src/widgets/ThemeSwitcher/ui/ThemeSwitcher.module.scss
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

fix: migrate to union types instead of enums
  .eslintrc.json
  .vscode/settings.json
  src/entities/Counter/ui/Counter.tsx
  src/features/AuthByUserName/ui/LoginForm/LoginForm.tsx
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.test.tsx
  src/shared/ui/Button/Button.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run lint:ts:fix, npm run format:ts

style: fix Button default active state styles
  src/shared/ui/Button/Button.module.scss
Due: npm run lint:scss:fix

test: refactor pages stories
  src/pages/AboutPage/ui/AboutPage.stories.tsx
  src/pages/MainPage/ui/MainPage.stories.tsx
  src/pages/NotFoundPage/ui/NotFoundPage.stories.tsx
Due: npm run lint:ts:fix, npm run format:ts

test: refactor stories namings, remove dead code
  src/pages/AboutPage/ui/AboutPage.stories.tsx
  src/pages/MainPage/ui/MainPage.stories.tsx
  src/pages/NotFoundPage/ui/NotFoundPage.stories.tsx
  src/shared/ui/AppLink/AppLink.stories.tsx
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Loader/Loader.stories.tsx
  src/widgets/Navbar/ui/Navbar.module.scss
  src/widgets/Navbar/ui/Navbar.stories.tsx
  src/widgets/PageError/ui/PageError.stories.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.stories.tsx
  src/widgets/ThemeSwitcher/ui/ThemeSwitcher.stories.tsx
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

fix: remove excess props from NotFoundPage
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
Due: npm run lint:ts:fix, npm run format:ts

Fix color scheme and shared components view, refactor stories (#3)
  .eslintrc.json
  .vscode/settings.json
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/variables/global.scss
  src/entities/Counter/ui/Counter.tsx
  src/features/AuthByUserName/ui/LoginForm/LoginForm.tsx
  src/pages/AboutPage/ui/AboutPage.stories.tsx
  src/pages/MainPage/ui/MainPage.stories.tsx
  src/pages/NotFoundPage/ui/NotFoundPage.stories.tsx
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
  src/shared/assets/icons/Sidebar/sidebar_close.svg
  src/shared/assets/icons/Sidebar/sidebar_open.svg
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/AppLink/AppLink.stories.tsx
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.test.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Loader/Loader.module.scss
  src/shared/ui/Loader/Loader.stories.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/index.tsx
  src/widgets/Navbar/ui/Navbar.module.scss
  src/widgets/Navbar/ui/Navbar.stories.tsx
  src/widgets/Navbar/ui/Navbar.tsx
  src/widgets/PageError/ui/PageError.stories.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.stories.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/ThemeSwitcher/ui/ThemeSwitcher.module.scss
  src/widgets/ThemeSwitcher/ui/ThemeSwitcher.stories.tsx
Due: npm run lint:ts:fix, npm run format:ts, npm run lint:scss:fix

refactor: format code with prettier
  public/locales/en/translation.json
  public/locales/ru/about.json
  public/locales/ru/main.json
  public/locales/ru/translation.json
Due: none

docs: update readme
  README.md
Due: none

Path conditions:
  npm run lint:ts:fix: any of: *.{j,t}s{x,}
  npm run format:ts: any of: *.{j,t}s{x,}
  npm run lint:scss:fix: any of: *.{css,scss}
